
*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

@media(max-width:700px){

.splashScreen{
    border: 2px ;
    width: 300px;
    height: 532px;
    background: linear-gradient(#E6F8EB, #079F31);
    border-radius: 5px;  
    margin-top: 40px; 
}
.fountain-logo{
   text-align: center;
   margin-top: 150px;
   padding: 10px;
}
.splash-text{
    text-align: center;
    margin-top: 10px;
}
.splash-text h3{
    font-size: 16px;
}
.splash-text h4{
    font-size: 14px;
}
.splash-text p{
    font-size: 12px;
}

.onbordingScreen{
    border: 2px solid ;
    width: 300px;
    height: 532px;
    background-color: #E6F8EB;
    border-radius: 5px;  
    margin-top: 40px; 
}
.image{
    text-align: center;
   margin-top: 90px;
   padding: 10px;
}
.text{
    text-align: center; 
}
.text p{
    font-size: 18px;
}
.text .bxs-circle{
    font-size: 10px; 
}
.onbording-button{
    margin-top: 80px;
    display: flex;
} 
.registrationBth{

    background-color:#079F31 ;
    color: white;
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 5px;
}
.loginBth{
    width: 90px;
    height: 30px;
    border: 2px solid #079F31;
    border-radius: 5px;
    background-color: #ffffff;  
}

.registration_screen{
    border: 2px solid #ffff;
    width: 300px;
    height: 532px;
    background-color: #ffff;
    border-radius: 5px; 
    margin-top: 50px;
}
.registration_screen h2{
    color: #079F31 ;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: center;
}
.input{
    width: 100%;
    margin-bottom: 20px;
    margin-right: 5px;
}
.input label{
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 10px;
}
.input input{
    width: 95%;
    height: 30px;
    border: 1px solid gray;
    border-radius: 7px;
    font-size: 12px;
    outline: none;
    padding: 5px 10px;
    background-color: #ffff;
}

.home_page{
    border: 2px solid #ffff;
    width: 300px;
    height: 532px;
    background-color: #ffff;
    border-radius: 5px;  
}
.avater{
    display: flex;
    margin-top: 30px;
}
.hello h4{
    margin-left: 10px;
    padding: 5px;
}
.hello p{
    padding: 3px;
    margin-left: 9px;
}
.search{
margin-left: 18px;
margin-bottom: 25px;
}
.search input{
    width: 95%;
    height: 25px;
    border: 2px solid #079F31;
    border-radius: 8px;
    margin-top: 20px;
}
.pastQuestios{
width: 90%;
height: 100px;
display: flex;
padding: 10px;
background-color: #079F31;
}
.recent{
display: flex;
justify-content: flex-end;
padding:5px;
font-size: 14px;
}
.text{
    justify-content: space-evenly;
    word-spacing: 1.5rem;
    padding: 5px;
}
.text p{
    font-size: 8px;
}
.recommendations h3{
    font-size: 14px;
    margin-left: 20px;
}
.BCH{
    display: flex;
    padding: 5px;
    margin-top: 12px;
    border: 1px solid #d4d1d1f5;
    width: 80%;
    height: 50px;
    border-radius: 5px;
    box-shadow: 5px 5px #d4d1d121 ;
}
.bch-text{
    display: flex;
    flex-direction: column;
}
.bch-text :first-child{
    margin-right: 80px;
}
.bch-text :last-child{
    word-spacing: 20px;
    margin-right: 5px;
}
.MIB{
    display: flex;
    padding: 5px;
    margin-top: 15px;
    border: 1px solid #d4d1d1f5;
    width: 80%;
    height: 50px;
    border-radius: 5px;
    box-shadow: 5px 5px #d4d1d121 ;
}
.mib-text{
    display: flex;
    flex-direction: column;
}
.mib-text :first-child{
    margin-right: 80px;
}
.mib-text :last-child{
    word-spacing: 20px;
    margin-right: 5px;
}
.home-menu{
    display: flex;
    margin-top: 15px;
}
.home-menu p{
    font-size: 12px;
    text-align: center;
}
}